@model IEnumerable<Cookbook_Web_App.Models.SavedRecipe>

@{
    ViewData["Title"] = "Index";

    Layout = "_Layout";
}
<div id="saved-contain">
    <h4>My Recipes</h4>


    <table>
        <thead>

            <tr>
                <th>
                    Name
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.SavedRecipeID"> Recipe Details</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.SavedRecipeID">Delete Recipe</a>
                    </td>
                </tr>


            }

        </tbody>
    </table>
</div>
