@model IEnumerable<Cookbook_Web_App.Models.SavedRecipe>

@{
    ViewData["Title"] = "Index";

    Layout = "_Layout";
}

<h3>My Recipes</h3>
<div>

    <table>
        <thead>

            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SavedRecipeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.SavedRecipeID">Details of a Recipe</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.SavedRecipeID">Delete a Recipe</a>
                </td>
            </tr>


            }

        </tbody>
        </table>
</div>
