@model IEnumerable<Cookbook_Web_App.Models.Comments>
@{
    ViewData["Title"] = "View";
    Layout = "_Layout";
}
<h4>Notes</h4>
<div>

    <div>

        <div>
            @foreach (var item in Model)
            {

                <div>
                    <p> Note: @Html.DisplayFor(modelItem => item.Comment)</p>
                </div>

            }
        </div>
    </div>
</div>

<a asp-action="Index">Back to List</a>