<!DOCTYPE html>

<html>
<head>
    <title>Home Page</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two|Montserrat|Shadows+Into+Light" rel="stylesheet">
    <link href="~/reset.css" rel="stylesheet" />
    <link href="~/Mobile.css" rel="stylesheet" />
    <link href="~/DeskTop.css" rel="stylesheet" />
    <link href="~/searchbar.css" rel="stylesheet" />
    <link href="~/tables.css" rel="stylesheet" />
    <link href="~/fonts.css" rel="stylesheet" />
</head>
<body> 
    <header>
        <div id="headcontain">

            <div id="indexcontain">
                <h1 id="index-title"> Claire's Cookbook</h1>
                <h2> Search, Find and Save Recipes</h2>
            </div>
            <nav id="hamburger" role="navigation">
                <div id="navToggle">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul id="nav">
                        <li><a id="links" href='/'> Home </a></li>
                        <li><a id="links" href='/User'> My Profile</a></li>
                        <li><a id="links" href='/SavedRecipe'> My Recipes</a></li>
                        <li><a id="links" href='/Comments'> My Notes </a></li>
                    </ul>

                </div>
            </nav>
            @*<img id = "headrecipe" src= "" > *@
        </div>
    </header>
    <main>
        <section class="search-holder">
            <form asp-controller="Search" asp-action="Index" class="search-bar">                
                    <input type="text" name="searchRecipes" placeholder="Search recipes by name" class="search-input">
                    <input type="submit" value="Filter" class="search-button input-button" />                
            </form>
        </section>
        <section class="page-holder">
            @RenderBody()
        </section>
    </main>
    <footer class="">
        <div>
            <p>© 2019 Copyright:
            <a href=""> LocalCookBook.com </a>
            </p>
        </div>
    </footer>

</body>
</html>