<!DOCTYPE html>

<html>
<head>
    <title>Home Page</title>
    <link href="~/reset.css" rel="stylesheet" />
    <link href="~/StyeSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</head>
<body>

    <header>
        <nav class="navbar navbar-light bg-light">
            <a href="/" class="navbar-brand">Website</a>
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="navbar-item">
                    <a href="/User" class="nav-link">User</a>
                </li>
                <li class="navbar-item">
                    <a href="/SavedRecipe" class="nav-link">SavedRecipe</a>
                </li>
                <li class="navbar-item">
                    <a href="/Comments" class="nav-link">Comments</a>
                </li>
            </ul>
                   
</nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer></footer>

</body>
</html>

