
@{
    ViewData["Title"] = "_Layout";
}

<h1>_Layout</h1>

<header>
    <nav class="navbar">
        <a href="/" class="navbar-brand">Home</a>
        <a href="/User" class="navbar-brand">User</a>
        <a href="/SavedRecipe" class="navbar-brand">SavedRecipe</a>
        <a href="/Comments" class="navbar-brand">Comments</a>

    </nav>
</header>

