
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h3>
    Our Favorite Recipe: Rice Krispy Treats
</h3>
<h4> Ingredients</h4>
<ul>
    <li>
        One bag of marshmallows
    </li>
    <li>
        1/4 cup butter
    </li>
    <li>
        6 cups Rice Cereal
    </li>
</ul>
<h4>
    Instructions
</h4>
<ol>
    <li> In a large pot, melt butter and marshmallows on low.</li>
    <li> Mix in rice cereal.</li>
    <li> Press mixture into a greased 9 X 13 pan. Allow to cool.</li>
    <li> Enjoy!</li>
</ol>
