@model Cookbook_Web_App.Models.Comments
@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}
<h1> Test test</h1>
<div>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="@Model.SavedRecipeID" />
        <input type="hidden" asp-for="@Model.Name" />
        <label asp-for="Comment"></label>
        <textarea asp-for="Comment"></textarea>
        <input type="submit" value="Create" class="btn btn-primary">
        <input type="submit" formaction="@Url.Action("RedirectToSave")" value="Back to Recipe" class="btn btn-primary" />


    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>