@model Cookbook_Web_App.Models.Comments

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";

}
<h1> Test delete</h1>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete"/>
    </form>
</div>
<div>
    <a asp-action="View">Back to Notes</a>
</div>

