@model Cookbook_Web_App.Models.Comments
@{
    ViewData["Title"] = "Edit";
}
<h1> Test edit</h1>
<div>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="ID" />
        <label asp-for="Comment"></label>
        <textarea asp-for="Comment"></textarea>
        <input type="submit" value="Create" class="btn btn-primary" />


    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>