@model IEnumerable<Cookbook_Web_App.Models.Comments>

@{ 
    ViewData["Title"] = "Index";

    Layout = "_Layout";
}

<h1> Comments Test Layout</h1>

<div>
    <a asp-action="Create">Create New Comment</a>
    @foreach (var item in Model)
    {
        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>

    }
</div>