@model Cookbook_Web_App.Models.Comments
@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}
<h1>Comments</h1>
<div>

    <div>

        <div>
            @foreach (var item in Model.Comment)
            {

                <span>@item</span>

            }
        </div>
    </div>
</div>

<a asp-action="Index">Back to List</a>