@media screen and (min-width: 760px) {

    body {
        background-image: url('https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
        background-size: cover;
    }

    header {
        position: absolute;
        width: 100vw;
        top: 0px;
        left: 0px;
        padding-top: .5vw;
        background-color: none;
        box-sizing: border-box;
    }

    h1 {
        text-align: right;
    }

    a {
        text-decoration: none;
        color: black;
        transition: none;
    }

        a:hover {
            color: #ffa500;
        }

    #nav {
        position: relative;
        top: 0px;
        margin: 0 0 0 0;
        opacity: 1;
        background: none;
        border-radius: .5em;
        list-style-type: none;
        transform-origin: 0% 0%;
        transform: none;
        transition: none;
        z-index: 2;
        width: 100%;
        padding: 0px;
    }

        #nav li {
            font-size: 22px;
        }

    #navToggle input:checked ~ ul {
        transform: none;
    }

    #navToggle {
        display: block;
        position: relative;
        z-index: 1;
    }

        #navToggle span {
            display: none;
        }

    #indexcontain {
        text-align: right;
    }

    #links {
        color: black;
    }

    nav {
        min-height: 100vh;
        background-color: #CCDFE5;
        width: 14vw;
        position: fixed;
        left: 0px;
        top: 0px;
    }

    main {
        position: absolute;
        left: 14vw;
        top: 18vh;
        z-index: -1;
        height: inherit;
        width: 80vw;
        margin: 0px;
    }


    footer {
        position: fixed;
        top: 96vh;
        margin-left: 14vw;
        width: 86vw;
        background-color: #CCDFE5;
        color: black;
    }

        footer p {
            text-align: center;
        }

    .page-holder {
        background-color: white;
        min-height: 50vh;
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
        padding: 2vw;
        margin-top: 6vh;
        margin-bottom: 5vh;
    }
}
