@media screen and (min-width: 760px) {


    header {
        position: fixed;
        width: 100vw;
        top:0px;
        left:0px;
        padding-top: .5vw;
        background-color: white;
        box-sizing: border-box;
    }
    h1 {
        text-align: right;
    }

    a {
        text-decoration: none;
        color: #fff;
        transition: none;
    }

        a:hover {
            color: #ffa500;
        }

    #nav {
        position: relative;
        top: 0px;
        margin: 0 0 0 0;
        opacity: 1;
        background: none;
        border-radius: .5em;
        list-style-type: none;
        transform-origin: 0% 0%;
        transform: none;
        transition: none;
        z-index: 2;
        width: 100%;
        padding: 0px;

    }

        #nav li {
            font-size: 22px;
        }

    #navToggle input:checked ~ ul {
        transform: none;
    }

    #navToggle {
        display: block;
        position: relative;
        z-index: 1;
    }

        #navToggle span {
            display: none;
        }

    #indexcontain {
        text-align: right;
    }

    #links {
        color: darkorange;
    }

    nav {
        min-height: 100vh;
        background-color: lightgrey;
        width: 20vw;
        position: fixed;
        left: 0px;
        top: 0px;
    }
          
    main {
        position: absolute;
        left: 20vw;
        top: 18vh;
        z-index: -1;
        height: inherit;
        width: 80vw;
        margin: 0px;
    }


    footer {
        position: static;
        margin-left: 20vw;
        width: 80vw;
        background-color: blue;
    }

    footer p {
        text-align: center;
    }
    .page-holder {
        background-color: #a8a8a8;
        min-height: 50vh;
        width: 60vw;
        margin-left: 10vw;
        margin-right: 10vw;
        padding: 2vw;
        margin-top: 6vh;
        margin-bottom: 5vh;
    }
}
