p, a, li, th, td, input, label {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 4px;
}


h1, index-title {
    text-align: right;
    font-family: 'Shadows Into Light', cursive;
    margin: 0;
    margin-right: 4vw;
    font-size: 4vw;
}

h2 {
    font-family: 'Lobster Two', cursive;
    font-size: 2vw;
    margin: 0;
    margin-right: 4vw;
    text-align: right;
    margin-bottom: 2vw;
}

h3, h4 {
    font-family: 'Shadows Into Light', cursive;
}
h3{
    text-align: right;
    font-size: 3vw;
}
h4{
    font-size: 2.5vw;
    text-align: left;
}
a {
    color: black;
}

