
body {
    background-color: #eee;
    text-align: center;
    font-family: 'Brawler', serif;
    /*font-family: 'Encode Sans Semi Expanded', sans-serif;*/
}

#body {
    background-color: #888;
    font-family: 'Brawler', serif;
}

.create-nav {
    font-size: 5vw;
    color: #000;
}
/************HEADER ********************/
#headcontain {
    text-align: left;
    width: 100%;
    margin-top: .5vw;
}

header {
    background: #ccc;
    color: #fff;
    text-align: left;
    border: solid 2px black;
    font-family: 'VT323', monospace;
}

a {
    text-decoration: none;
    color: #eee;
    transition: color 0.3s ease;
}

span {
    background-color: #eee;
}

a:hover {
    color: #999;
}

#nav {
    position: absolute;
    width: 330px;
    margin: 0 -120px 0 -307px;
    padding: 15px;
    opacity: .95;
    background: #222;
    border-radius: .5em;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(0, -260%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    z-index: 2;
}

    #nav li {
        padding: 10px 0;
        font-size: 22px;
    }

#navToggle input:checked ~ ul {
    transform: none;
}

#navToggle {
    display: block;
    position: relative;
    padding-right: 10px;
    float: right;
    right: 10px;
    z-index: 1;
}

    #navToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        right: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    #navToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #fff;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

#headrecipe {
    float: left;
    padding-left: 2vw;
    height: 8vw;
}

#navToggle span:first-child {
    transform-origin: 0% 0%;
}

#navToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#navToggle input:checked ~ span {
    transform: rotate(45deg) translate(-2px, -1px);
}

    #navToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #navToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

#indexcontain {
    height: 9vw;
}

#index-title {
    font-size: 5vw;
    padding-left: 13vw;
}

#links {
    color: darkorange;
}
/*********** greater than mobile - desktop view *********************/
@media screen and (min-width: 960px) {
    .create-nav {
        color: #666;
        font-size: 3vw;
    }

    header {
        width: 100%;
        height: 11.4vw;
        background-color: #ddd;
        font-size: 6vw;
        padding-top: .5vw;
        font-family: 'VT323', monospace;
    }


    #headcontain {
        text-align: right;
        width: 100%;
    }

    a {
        text-decoration: none;
        color: #fff;
        transition: none;
    }

        a:hover {
            color: #ffa500;
        }

    #nav {
        display: flex;
        position: relative;
        width: 1000px;
        margin: 0 0 0 0;
        opacity: 1;
        background: none;
        border-radius: .5em;
        list-style-type: none;
        transform-origin: 0% 0%;
        transform: none;
        transition: none;
        z-index: 2;
    }

        #nav li {
            width: 100vw;
            margin-left: 2vw;
            padding: 3px 0;
            font-size: 22px;
        }

            #nav li:nth-child(1) {
                width: 100px;
            }

    #navToggle input:checked ~ ul {
        transform: none;
    }

    #navToggle {
        display: block;
        position: relative;
        padding-right: 2vw;
        float: right;
        right: 50px;
        z-index: 1;
    }

        #navToggle span {
            display: none;
        }

    #headrecipe {
        float: left;
        padding-left: 2vw;
        height: 8vw;
    }


    #indexcontain {
        height: 9vw;
        width: 55vw;
        text-align: left;
    }

    #index-title {
        font-size: 3.8vw;
        color: #fff;
        padding-left: 10vw;
    }

    #list-contain {
        float: left;
    }

    #links {
        color: darkorange;
    }
}
