@model Cookbook_Web_App.Models.User
@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}
<p> Create a new user </p>
<section>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>
        <label asp-for="UserName">Please insert your desired user name:</label>
        <input asp-for="UserName" />
        <input type="submit" value="Create" class="input-button" />
    </form>
    <p>Already have a user name? <a asp-action="Login">Login</a> </p>
</section>