@model Cookbook_Web_App.Models.User
@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}
<h4> Create a new user </h4>
<section>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>
        <label asp-for="UserName">Please insert your desired user name:</label>
        <input asp-for="UserName" />
        <input type="submit" value="Create" class="input-button" />
    </form>
    <p>Already have a user name? <a asp-action="Login" class="standoutlink">Login</a> </p>
</section>