@model Cookbook_Web_App.Models.User
@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<p> Are you sure you want to delete your user, @Model.UserName? This will delete all your recipes and comments as well. </p>
<form asp-action="Delete">
    <input type="hidden" asp-for="ID"/>
    <input type="hidden" asp-for="UserName" />
    <input type="submit" value="Delete" class="input-button" />
</form>