@model Cookbook_Web_App.Models.User
@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<section>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly"></div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <input type="submit" value="Save" />
    </form>
</section>

