@model Cookbook_Web_App.Models.User

@{
    ViewData["Title"] = "Index";

    Layout = "_Layout";
}

<section>
    <p> @Model.ID)</p>
    <p> @Model.UserName</p>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.ID">Delete</a>
</section>