@model IEnumerable<Cookbook_Web_App.Models.Recipe>
@{
    ViewData["Title"] = "Index";

    Layout = "_Layout";
}
<h4>Results</h4>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    <thead>
    <tbody>
        @foreach (var recipe in Model)
        {
            <tr>
                <td>
                    @recipe.Name
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@recipe.ID">GetDetails</a>
                </td>
            </tr>

        }
    <tbody>
</table>